<ion-navbar *navbar>
  <ion-title>Segnalazione</ion-title>
</ion-navbar>

<ion-content class="flag">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="flag" item-left></ion-icon>
        <ion-label>Argomento</ion-label>
        <ion-select [(ngModel)]="flag.flagType">
          <ion-option value="road">Viabilità</ion-option>
          <ion-option value="school">Scuola</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines>
        <ion-icon name="pin" item-left></ion-icon>
        <ion-label>Includi la mia posizione</ion-label>
        <ion-toggle checked="false" #withPosition (change)="onTogglePosition(withPosition.checked)"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="withPosition.checked" class="flag-map">
        <h1 *ngIf="withPosition.checked && !flag.location" class="loading-spinner">
          <ion-icon class="fa fa-gear fa-spin"></ion-icon>
        </h1>
        <asb-locate-me (onLocate)="onLocate($event)"></asb-locate-me>
      </ion-item>
    </ion-list>
  </ion-card>
  <div padding>
    <button primary block>
      <ion-icon name="mail" item-left></ion-icon>Prepara la segnalazione</button>
  </div>

</ion-content>