.flag {
  .flag-map {
    position: relative;
    .loading-spinner {
      text-align: center;
      font-size: 32px;
    }
    .sebm-google-map-container {
      width: 100%;
      height: 170px;
      pointer-events: none;
    }
  }
}
