.login {
  .inner-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    .logo-wrapper {
      text-align: center;
      .login-logo {
        max-height: 200px;
        max-width: 100%;
      }
    }
  }
}
